/* @import-normalize; */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.l0 {
  left: 0;
}
.r0 {
  right: 0;
}

.typeface-open-sans {
  font-family: "Open Sans";
}
.typeface-roboto {
  font-family: "Roboto";
}
.typeface-roboto-slab {
  font-family: "Roboto Slab";
}

.fade-enter {
  opacity: 0.2;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 200ms ease-in-out;
}

/* 
.fade-appear {
  opacity: 0;
}
.fade-appear-active {
  transition: opacity 1000ms;
  opacity: 1;
}
.fade-appear-done {
  opacity: 1;
} 
*/
