/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.WbWordCard_remark {
  min-height: 7rem;
}

.WbWord_searchFrame {
  width: 100%;
  height: 99vh;
}

.WbWordCard__title {
  cursor: pointer;
}

.WbWordBookNav__pagination {
  justify-content: center;
}

.WbWordCard__deleteButton {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  border: 0;
}

.WbWordBookViewer__WordCard {
  margin-top: 1rem;
}

.WbWordBook__WordEditor {
  margin-top: 1rem;
}
